#site-title {
    color: #b4239c; font-size: 80px; font: bolder; text-align: center; border: 10px; padding: 10px;

}
body {
    background-color: #ebd5b5; height: auto; font-family: 'Architects Daughter';font-size: 20px; margin: 35px; padding: 10%;

}

header {
    height: fit-content; 
}

main { 
    height: 90%; color: #1a1815; border-width: 0px; text-align: left; font: bolder; 
}

img {
    border-radius: 40%; size: 15px; width: 350px; margin-right: 100px; margin-left: 100px;
}
footer {
    height: 120px; font-style: italic; color: #b4239c; font: bolder; text-align: right; margin-right: 100px;
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 