#site-title {
    color: #b4239c; font-size: 65px; font: bolder;

}
body {
    background-color: #ebd5b5; height: auto; font-family: 'Architects Daughter';font-size: 20px; margin: 35px;

}

header {
    height: fit-content; 
}

main { 
    height: 90%; color: #1a1815; border-width: 70px; text-align: left; font: bolder;
}

img {
    border-radius: 50%;
}
footer {
    height: 120px; font-style: italic; color: #b4239c; text-align: right;
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 